@use "../../Styles/Fonts.scss" as *;

.projects {

    width: 100%;
    height: 92vh;
    display: grid;
    align-self: center;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 18% 5% 1% 38% 8% 15% 5% 5% 5%;
    grid-template-areas: 
    "empty empty"
    "emptyA arrows"
    ". ."
    "links projPreview"
    "projName projName"
    "projIntro projIntro"
    "codeBuilt codeBuilt"
    "projCode projCode"
    "emptyZ emptyZ";
    font-family: $main;
    @media only screen and (min-height: 800px) and (min-width: 390px) {
        grid-template-rows: 18% 5% 1% 32% 8% 15% 8% 6.5% 6.5%;
     }
    @media only screen and (min-width: 480px) {
        grid-template-columns: 40% 50% 10%;
     }
    @media only screen and (min-width: 700px) {
        width: 90%;
        grid-template-rows: 12% 5% 1% 32% 8% 15% 8% 9.5% 9.5%;
    }

    &__nextPrevious {
        grid-area: arrows;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70%;
            aspect-ratio: 1 / 1;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    &__preview {
        grid-area: projPreview;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        
        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            @media only screen and (min-width: 450px) {
                height: 100%;
                aspect-ratio: 1 / 1;
             }
        }
    }

    &__links {
        grid-area: links;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width: 480px) {
            align-items: flex-end;
         }

        img {
            width: 1.5rem;
            aspect-ratio: 1 / 1;
            margin-bottom: 1rem;
            margin-top: 1rem;
            @media only screen and (min-width: 480px) {
                margin-right: 2rem;
             }
            @media only screen and (min-width: 700px) {
                width: 2rem;
            }
        }
    }

    &__name {
        grid-area: projName;
        width: 100%;
        height: 100%;
        color: #bb9af7;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 2.2rem;
        font-weight: bold;
        @media only screen and (min-width: 700px) {
            font-size: 2.9rem;
            align-items: flex-end;
        }
    }

    &__description {
        padding-left: 1rem;
        grid-area: projIntro;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        font-size: 0.9rem;
        text-align: end;
        color: #cfc9c2;
        @media only screen and (min-height: 800px) and (min-width: 390px) {
            font-size: 1.1rem;
         }
        @media only screen and (min-width: 480px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 700px) {
            font-size: 1.3rem;
            align-items: center;
            width: 80%;
            justify-self: end;
        }
    }

    &__languages {
        grid-area: projCode;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @media only screen and (min-width: 700px) {
            font-size: 1.3rem;
            align-items: center;
            width: 90%;
            justify-self: end;
        }

        img {
            height: 80%;
            aspect-ratio: 1 / 1;
            @media only screen and (min-width: 700px) {
                height: 60%;
            }
        }
    }

    &__buildWith {
        grid-area: codeBuilt;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: end;
        color: #bb9af7;
        @media only screen and (min-height: 800px) and (min-width: 390px) {
            font-size: 1rem;
         }
        @media only screen and (min-width: 480px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 700px) {
            font-size: 1.2rem;
            align-items: center;
            width: 80%;
            justify-self: end;
        }
    }

}