@use "../../Styles/Fonts.scss" as *;
@use "../../Styles/Color.scss" as *;

.projects {

    width: 100%;
    height: 92vh;
    display: grid;
    align-self: center;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 18% 5% 1% 38% 8% 15% 5% 5% 5%;
    grid-template-areas: 
    "title title"
    "emptyA arrows"
    ". ."
    "links projPreview"
    "projName projName"
    "projIntro projIntro"
    "codeBuilt codeBuilt"
    "projCode projCode"
    "emptyZ emptyZ";
    font-family: $main;
    @media only screen and (min-height: 800px) and (min-width: 390px) {
        grid-template-rows: 18% 5% 1% 32% 8% 15% 8% 6.5% 6.5%;
     }
    @media only screen and (min-width: 480px) {
        grid-template-columns: 40% 50% 10%;
     }
    @media only screen and (min-width: 700px) {
        width: 90%;
        grid-template-rows: 12% 5% 1% 32% 8% 15% 8% 9.5% 9.5%;
    }
    @media only screen and (min-width: 1000px) {
        width: 80%;
        grid-template-columns: 40% 45% 15%;
    }
    @media only screen and (min-width: 1150px) {
        width: 80%;
        height: 65vh;
        grid-template-rows: 5% 30% 30% 20% 5% 10%;
        grid-template-columns: 65% 35%;
        grid-template-areas: 
        "arrows ."
        "projPreview projName"
        "projPreview projIntro"
        "projPreview links"
        "codeBuilt codeBuilt"
        "projCode projCode";
    }
    @media only screen and (min-width: 1500px) {
        grid-gap: 1.5rem;
        height: 70vh;
    }
    @media only screen and (min-width: 1700px) {
        width: 60%;
    }
    
    &__title {
        grid-area: title;
        color: $red;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
    }

    &__nextPrevious {
        grid-area: arrows;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70%;
            aspect-ratio: 1 / 1;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            @media only screen and (min-width: 1150px) {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                height: 90%;
            }
            
        }
    }

    &__preview {
        grid-area: projPreview;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        
        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            @media only screen and (min-width: 450px) {
                height: 100%;
                aspect-ratio: 1 / 1;
             }
        }
    }

    &__links {
        grid-area: links;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width: 480px) {
            align-items: flex-end;
         }
        @media only screen and (min-width: 1150px) {
            flex-direction: row;
            align-items: center;
            justify-content: end;
        }

        img {
            width: 1.5rem;
            aspect-ratio: 1 / 1;
            margin-bottom: 1rem;
            margin-top: 1rem;
            @media only screen and (min-width: 480px) {
                margin-right: 2rem;
             }
            @media only screen and (min-width: 700px) {
                width: 2rem;
            }
            @media only screen and (min-width: 1150px) {
                width: 2.5rem;
            }
        }
    }

    &__name {
        grid-area: projName;
        width: 100%;
        height: 100%;
        color: $purple;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 2.2rem;
        font-weight: bold;
        @media only screen and (min-width: 700px) {
            font-size: 2.9rem;
            align-items: flex-end;
        }
        @media only screen and (min-width: 1150px) {
            align-items: flex-end;
            font-size: 3.5rem;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 4rem;
        }
    }

    &__description {
        padding-left: 1rem;
        grid-area: projIntro;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        font-size: 0.9rem;
        text-align: end;
        color: $cream;
        @media only screen and (min-height: 800px) and (min-width: 390px) {
            font-size: 1.1rem;
         }
        @media only screen and (min-width: 480px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 700px) {
            font-size: 1.3rem;
            align-items: center;
            width: 80%;
            justify-self: end;
        }
        @media only screen and (min-width: 1150px) {
            align-items: center;
            font-size: 1.3rem;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 1.6rem;
        }
    }

    &__languages {
        grid-area: projCode;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @media only screen and (min-width: 700px) {
            font-size: 1.3rem;
            align-items: center;
            width: 90%;
            justify-self: end;
        }
        @media only screen and (min-width: 1150px) {
            width: 100%;
        }
        @media only screen and (min-width: 1500px) {
            justify-content: space-evenly;
        }

        img {
            height: 80%;
            aspect-ratio: 1 / 1;
            @media only screen and (min-width: 700px) {
                height: 60%;
            }
        }
    }

    &__buildWith {
        grid-area: codeBuilt;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: end;
        color: $purple;
        @media only screen and (min-height: 800px) and (min-width: 390px) {
            font-size: 1rem;
         }
        @media only screen and (min-width: 480px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 700px) {
            font-size: 1.2rem;
            align-items: center;
            width: 80%;
            justify-self: end;
        }
        @media only screen and (min-width: 1150px) {
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1.4rem;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 1.6rem;
        }
    }

}