@use "../../Styles/Fonts.scss" as *;

p {
    color: white;
}

h2 {
    width: 80%;
    font-family: $main;
    text-align: center;
    color: #bb9af7;
    font-size: 2rem;
}

* {
    color: antiquewhite;
}