@use "../../Styles/Fonts.scss" as *;
@use "../../Styles/Color.scss" as *;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: $main;
    line-height: 2.5rem;
    min-height: 92vh;
    font-weight:900;
    letter-spacing: 0.15rem;
    overflow-x: hidden;

}

.contactMe {
    @media only screen and (min-width: 500px) {
        align-self: flex-end;
        transform: translateX(-50px);
     }
     @media only screen and (min-width: 1000px) {
        transform: translateX(-100px);
     }
}

.fadeIn {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:  repeat(19, 1fr);
    grid-template-areas: "one two three four five . . . . . . . . . . . . . . ."
        "six seven eight nine ten eleven twelve fourteen fifteen x x x x x x x x x x x"
        "sixteen seventeen eighteen nineteen twenty twentyOne twentyTwo twentyThree twentyFour twentyFive twentySix twentySeven twentyEight twentyNine thirty thirtyOne thirtyTwo thirtyThree y y";
    @media only screen and (min-width: 700px) {
        width: 85%;
        grid-gap:0.5rem;
    }
    @media only screen and (min-width: 1000px) {
        width: 78%;
        grid-gap:1.5rem;
    }
    @media only screen and (min-width: 1500px) {
        width: 65%;
        grid-gap:2rem;
    }
    @media only screen and (min-width: 1700px) {
        width: 55%;
        margin-bottom: 1.5rem;
    }

    .one {
        grid-area: one;
        min-width: 0;
        min-height: 0;
    }

    .two {
        grid-area: two;
        min-width: 0;
        min-height: 0;
    }

    .three {
        grid-area: three;
        min-width: 0;
        min-height: 0;
    }

    .four {
        grid-area: four;
        min-width: 0;
        min-height: 0;
    }

    .five {
        grid-area: five;
        min-width: 0;
        min-height: 0;
    }

    .six {
        grid-area: six;
        min-width: 0;
        min-height: 0;
    }

    .seven {
        grid-area: seven;
        min-width: 0;
        min-height: 0;
    }

    .eight {
        grid-area: eight;
        min-width: 0;
        min-height: 0;
    }

    .nine {
        grid-area: nine;
        min-width: 0;
        min-height: 0;
    }

    .ten {
        grid-area: ten;
        min-width: 0;
        min-height: 0;
    }

    .eleven {
        grid-area: eleven;
        min-width: 0;
        min-height: 0;
    }

    .twelve {
        grid-area: twelve;
        min-width: 0;
        min-height: 0;
    }

    .fourteen {
        grid-area: fourteen;
        min-width: 0;
        min-height: 0;
    }

    .fifteen {
        grid-area: fifteen;
        min-width: 0;
        min-height: 0;
    }

    .sixteen {
        grid-area: sixteen;
        min-width: 0;
        min-height: 0;
    }

    .seventeen {
        grid-area: seventeen;
        min-width: 0;
        min-height: 0;
    }

    .eighteen {
        grid-area: eighteen;
        min-width: 0;
        min-height: 0;
    }

    .nineteen {
        grid-area: nineteen;
        min-width: 0;
        min-height: 0;
    }

    .twenty {
        grid-area: twenty;
        min-width: 0;
        min-height: 0;
    }
    
    .twentyOne {
        grid-area: twentyOne;
        min-width: 0;
        min-height: 0;
    }

    .twentyTwo {
        grid-area: twentyTwo;
        min-width: 0;
        min-height: 0;
    }

    .twentyThree {
        grid-area: twentyThree;
        min-width: 0;
        min-height: 0;
    }

    .twentyFour {
        grid-area: twentyFour;
        min-width: 0;
        min-height: 0;
    }

    .twentyFive {
        grid-area: twentyFive;
        min-width: 0;
        min-height: 0;
    }

    .twentySix {
        grid-area: twentySix;
        min-width: 0;
        min-height: 0;
    }

    .twentySeven {
        grid-area: twentySeven;
        min-width: 0;
        min-height: 0;
    }

    .twentyEight {
        grid-area: twentyEight;
        min-width: 0;
        min-height: 0;
    }

    .twentyNine {
        grid-area: twentyNine;
        min-width: 0;
        min-height: 0;
    }

    .thirty {
        grid-area: thirty;
        min-width: 0;
        min-height: 0;
    }

    .thirtyOne {
        grid-area: thirtyOne;
        min-width: 0;
        min-height: 0;
    }

    .thirtyTwo {
        grid-area: thirtyTwo;
        min-width: 0;
        min-height: 0;
    }

    .thirtyThree {
        grid-area: thirtyThree;
        min-width: 0;
        min-height: 0;
    }

    &__char {
        color: $cream;
        animation: fadeIn 0.3s forwards ease-out;
        opacity: 0;
        min-height: 2.5rem;
        max-height: 2.5rem;
        @media only screen and (min-height: 800px) and (min-width: 390px) {
            animation: fadeInHeight800 0.3s forwards ease-out;
         }
        @media only screen and (min-width: 500px) {
            animation: fadeInWidth500 0.3s forwards ease-out;
         }
        @media only screen and (min-width: 1000px) {
            animation: fadeInWidth1000 0.3s forwards ease-out;
         }
        
    }

    &__name {
        color:$purple;
        text-shadow: 2px 2px $cream;
        animation: fadeIn 0.3s forwards ease-out;
        opacity: 0;
        min-height: 2.5rem;
        max-height: 2.5rem;
        @media only screen and (min-height: 800px) and (min-width: 390px) {
            animation: fadeInHeight800 0.3s forwards ease-out;
         }
        @media only screen and (min-width: 500px) {
            animation: fadeInWidth500 0.3s forwards ease-out;
         }
         @media only screen and (min-width: 1000px) {
            animation: fadeInWidth1000 0.3s forwards ease-out;
         }
    }

}

.cubes {
    display: flex;
    align-self: flex-start;
    transform: translateX(3rem) translateY(1rem);
    @media only screen and (min-width: 1000px) {
        transform: translateY(2rem) translateX(4rem);
     }
    
}

.container {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    animation: hide 1s forwards;
    opacity: 0;
    @media only screen and (min-width: 700px) {
        width: 40px;
        height: 40px;
    }
    @media only screen and (min-width: 1000px) {
        width: 50px;
        height: 50px;
    }
    
    .cube {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
        animation: rollIn 8s 1s forwards;
        transform: translateX(330px) translateY(130px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(810deg);
        @media only screen and (min-width: 700px) {
            animation: rollIn700 8s 1s forwards;
            transform: translateX(420px) translateY(130px)
            rotateX(-30deg) rotateY(-20deg) rotateZ(810deg);
        }
        @media only screen and (min-width: 1000px) {
            animation: rollIn1000 8s 1s forwards;
            transform: translateX(420px) translateY(130px)
            rotateX(-30deg) rotateY(-20deg) rotateZ(810deg);
        }

        .face {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1rem;
            @media only screen and (min-width: 700px) {
                font-size: 1.5rem;
            }
            @media only screen and (min-width: 700px) {
                font-size: 1.8rem;
            }
          }

          .top {
            background-color: $red;
            transform: rotateX(90deg) translateZ(15px);
            @media only screen and (min-width: 700px) {
                transform: rotateX(90deg) translateZ(20px);
            }
            @media only screen and (min-width: 1000px) {
                transform: rotateX(90deg) translateZ(25px);
            }
            

            
          }
          .bottom {
            background-color: $cyan-light;
            transform: rotateX(-90deg) translateZ(15px);
            @media only screen and (min-width: 700px) {
                transform: rotateX(-90deg) translateZ(20px);
            }
            @media only screen and (min-width: 1000px) {
                transform: rotateX(-90deg) translateZ(25px);
            }
          }
          
          .right {
            background-color: $cyan-green;
            transform: rotateY(90deg) translateZ(15px);
            @media only screen and (min-width: 700px) {
                transform: rotateY(90deg) translateZ(20px);
            }
            @media only screen and (min-width: 1000px) {
                transform: rotateY(90deg) translateZ(25px);
            }

          }
          .left {
            background-color: $blue;
            transform: rotateY(-90deg) translateZ(15px);
            @media only screen and (min-width: 700px) {
                transform: rotateY(-90deg) translateZ(20px);
            }
            @media only screen and (min-width: 1000px) {
                transform: rotateY(-90deg) translateZ(25px);
            }
          }
          
          .front {
            background-color: $purple;
            transform: rotateX(0deg) translateZ(15px);
            @media only screen and (min-width: 700px) {
                transform: rotateX(0deg) translateZ(20px);
            }
            @media only screen and (min-width: 1000px) {
                transform: rotateX(0deg) translateZ(25px);
            }
          }
          .back {
            background-color: $cream;
            transform: rotateX(-180deg) translateZ(15px);
            @media only screen and (min-width: 700px) {
                transform: rotateX(-180deg) translateZ(20px);
            }
            @media only screen and (min-width: 1000px) {
                transform: rotateX(-180deg) translateZ(25px);
            }
          }
      }

  }

.cube2 {
    transform: translateY(5px);
    animation-delay: 0.2s;
    @media only screen and (min-width: 700px) {
        transform: translateY(9px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateY(12px);
    }
}

.cube3 {
    transform: translateY(10px);
    animation-delay: 0.4s;
    @media only screen and (min-width: 700px) {
        transform: translateY(18px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateY(24px);
    }
}

.cube4 {
    transform: translateY(15px);
    animation-delay: 0.6s;
    @media only screen and (min-width: 700px) {
        transform: translateY(27px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateY(36px);
    }
}

.cube5 {
    transform: translateY(20px);
    animation-delay: 0.8s;
    @media only screen and (min-width: 700px) {
        transform: translateY(36px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateY(48px);
    }
}

.cube6 {
    transform: translateY(25px);
    animation-delay: 1s;
    @media only screen and (min-width: 700px) {
        transform: translateY(45px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateY(60px);
    }
}

.cube7 {
    transform: translateY(30px);
    animation-delay: 1.2s;
    @media only screen and (min-width: 700px) {
        transform: translateY(54px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateY(72px);
    }
}

.cube8 {
    transform: translateY(30px) translateX(90px);
    animation-delay: 1.4s;
    @media only screen and (min-width: 700px) {
        transform: translateX(120px) translateY(63px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateX(120px) translateY(84px);
    }

}

.cube9 {
    transform: translateY(35px) translateX(90px);
    animation-delay: 1.6s;
    @media only screen and (min-width: 700px) {
        transform: translateX(120px) translateY(72px);
    }
    @media only screen and (min-width: 1000px) {
        transform: translateX(120px) translateY(96px);
    }
}

.cube__letter {
        color: $dark-purple;
        transform: rotateZ(180deg);
}



@for $i from 1 through 34 {
    .fadeIn p:nth-child(#{$i}n) {
        animation-delay: #{$i* 0.07}s;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    50% {
        font-size: 2.3rem;
    }
    85% {
        font-size:  1.2rem;
    }
    100% {
        opacity: 1;
        font-size: 1.5rem;
        
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    50% {
        font-size: 2.3rem;
    }
    100% {
        opacity: 1;
        font-size: 1.5rem;
    }
}

@keyframes hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rollIn {
    0% {
        transform: translateX(330px) translateY(130px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(810deg);
    }
    9% {
        transform: translateX(270px) translateY(90px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(720deg);
    }
    18% {
        transform: translateX(240px) translateY(80px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(630deg);
    }
    27% {
        transform: translateX(210px) translateY(70px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(540deg);
    }
    36% {
        transform: translateX(180px) translateY(60px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(450deg);
    }
    45% {
        transform: translateX(150px) translateY(50px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(360deg);
    }
    54% {
        transform: translateX(120px) translateY(40px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(270deg);
    }
    63% {
        transform: translateX(90px) translateY(30px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(180deg);
    }
    72% {
        transform: translateX(60px) translateY(20px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(90deg);
    }
    81% {
        transform: translateX(30px) translateY(10px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(0deg);
    }
    90% {
        transform: translateX(0px) translateY(0px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(-90deg);
    }
    100% {
        transform: translateX(-30px) translateY(-10px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(-180deg);
    }
}

 @-webkit-keyframes fadeInHeight800 {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    50% {
        font-size: 2.3rem;
    }
    100% {
        opacity: 1;
        font-size: 1.8rem;
        
    }
}

@keyframes fadeInHeight800 {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    50% {
        font-size: 2.3rem;
    }
    100% {
        opacity: 1;
        font-size: 1.8rem;
    }
}

@-webkit-keyframes fadeInWidth500 {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    70% {
        font-size: 3.4rem;
    }
    100% {
        opacity: 1;
        font-size: 2.2rem;
        
    }
}

@keyframes fadeInWidth500 {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    70% {
        font-size: 3.4rem;
    }
    100% {
        opacity: 1;
        font-size: 2.2rem;
    }
}

@-webkit-keyframes fadeInWidth1000 {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    70% {
        font-size: 4rem;
    }
    100% {
        opacity: 1;
        font-size: 3rem;
        
    }
}

@keyframes fadeInWidth1000 {
    0% {
        opacity: 0;
        font-size: 0.8rem;
    }
    70% {
        font-size: 4rem;
    }
    100% {
        opacity: 1;
        font-size: 3rem;
    }
}

@keyframes rollIn700 {
    0% {
        transform: translateX(410px) translateY(155px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(810deg);
    }
    9% {
        transform: translateX(370px) translateY(140px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(720deg);
    }
    18% {
        transform: translateX(330px) translateY(125px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(630deg);
    }
    27% {
        transform: translateX(290px) translateY(110px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(540deg);
    }
    36% {
        transform: translateX(250px) translateY(95px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(450deg);
    }
    45% {
        transform: translateX(210px) translateY(80px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(360deg);
    }
    54% {
        transform: translateX(170px) translateY(65px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(270deg);
    }
    63% {
        transform: translateX(130px) translateY(50px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(180deg);
    }
    72% {
        transform: translateX(90px) translateY(35px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(90deg);
    }
    81% {
        transform: translateX(50px) translateY(20px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(0deg);
    }
    90% {
        transform: translateX(10px) translateY(5px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(-90deg);
    }
    100% {
        transform: translateX(-30px) translateY(-10px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(-180deg);
    }
}

@keyframes rollIn1000 {
    0% {
        transform: translateX(420px) translateY(200px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(810deg);
    }
    9% {
        transform: translateX(380px) translateY(180px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(720deg);
    }
    18% {
        transform: translateX(340px) translateY(160px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(630deg);
    }
    27% {
        transform: translateX(300px) translateY(140px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(540deg);
    }
    36% {
        transform: translateX(260px) translateY(120px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(450deg);
    }
    45% {
        transform: translateX(220px) translateY(110px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(360deg);
    }
    54% {
        transform: translateX(180px) translateY(90px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(270deg);
    }
    63% {
        transform: translateX(140px) translateY(70px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(180deg);
    }
    72% {
        transform: translateX(100px) translateY(50px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(90deg);
    }
    81% {
        transform: translateX(60px) translateY(30px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(0deg);
    }
    90% {
        transform: translateX(20px) translateY(10px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(-90deg);
    }
    100% {
        transform: translateX(-30px) translateY(-10px)
        rotateX(-30deg) rotateY(-20deg) rotateZ(-180deg);
    }
}