@use "../../Styles/Fonts.scss" as *;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: $main;
    line-height: 2.5rem;
    min-height: 92vh;
    position: relative;
    font-weight:900;
    letter-spacing: 0.15rem;

}

.fadeIn {
    width: 100%;
    margin-bottom: 2rem;

    &__char {
        color: #cfc9c2;
        animation: fadeIn 0.3s forwards ease-out;
        opacity: 0;
        min-height: 2.5rem;
        max-height: 2.5rem;
    }

    &__name {
        color:#bb9af7;
        text-shadow: 2px 2px #cfc9c2;
        animation: fadeIn 0.3s forwards ease-out;
        opacity: 0;
        min-height: 2.5rem;
        max-height: 2.5rem;
    }

}

.container {
    width: 25px;
    height: 25px;
    perspective: 1000px;
    
    .cube {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
        transform: rotateX(-30deg) rotateY(-20deg) rotateZ(-90deg);

        .face {
            position: absolute;
            width: 100%;
            height: 100%;
          }

          .top {
            transform: rotateX(90deg) translateZ(12.5px);
            background-color: #73daca;
          }
          .bottom {
            transform: rotateX(-90deg) translateZ(12.5px);
            background-color: #ff9e64;
          }
          
          .right {
            transform: rotateY(90deg) translateZ(12.5px);
            background-color: #7aa2f7;
          }
          .left {
            transform: rotateY(-90deg) translateZ(12.5px);
            background-color: #f7768e
          }
          
          .front {
            transform: rotateX(0deg) translateZ(12.5px);
            background-color: #bb9af7;
          }
          .back {
            transform: rotateX(-180deg) translateZ(12.5px);
            background-color: #cfc9c2
          }
      }

  }



@for $i from 1 through 34 {
    .fadeIn span:nth-child(#{$i}n) {
        animation-delay: #{$i* 0.07}s;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 1.2rem;
    }
    70% {
        font-size: 2.3rem;
    }
    100% {
        opacity: 1;
        font-size: 1.5rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 1.2rem;
    }
    70% {
        font-size: 2.3rem;
    }
    100% {
        opacity: 1;
        font-size: 1.5rem;
    }
}

