* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {

    background-color: #14151e;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}