@use "./Styles/Color.scss" as *;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: $dark;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}