@use "../../Styles/Fonts.scss" as *;

.nav {

    width: 100%;
    display: flex;
    height: 5%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index:1;

    &__logo {
        width: 3rem;
        animation: slideRight 2s 1s forwards ease-out;
        transform: translateX(-10rem);
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        transform: 
            rotateX(-180deg)
            translateY(10rem);
        animation: fallIn 2s 1s forwards ease-out;
    }

}

@keyframes slideRight {
    0% {
        transform: translateX(-10rem);
    }
    70% {
        transform: translateX(2rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes fallIn {
    0% {
        transform: 
            rotateX(-180deg)
            translateY(10rem);
    }
    50% {
        transform: 
            rotateX(-180deg)
            translateY(-2rem);
    }
    75% {
        transform: 
            rotateX(-90deg)
            translateY(-2rem);
    }
    100% {
        transform: 
            rotateX(0deg)
            translateY(0rem);
    }
}