@use "../../Styles/Fonts.scss" as *;

.meObject{
    font-size: 0.9em;
    margin: 0;
    width: 90%;
    font-family: $main;

    .innerBracket {
        transform: translate(20px);
        width: 96%;

        .skills {

            display: flex;
            flex-wrap: wrap;

        }
    }


    .const {
        color: #c0caf5;
        font-style: italic;
    }

    .variable {
        color:#7aa2f7;
    }

    .symbol {
        color: #73daca;
    }

    .bracket {
        color: #ff9e64;
    }

    .key {
        color: #9ece6a;
    }

    .value {
        color: #f7768e
    }

}
